.employee-form {
  background-color: teal;
  margin: 2rem auto;
  width: 60rem;
  max-width: 95%;
  border-radius: 9px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.employee-input label {
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 1rem;
}

.employee-input input {
  width: 16rem;
  height: 2rem;
  padding: 1rem 0.5rem;
  border-radius: 6px;
  border: none;
  font-size: 1.2rem;
}

.add-employee button {
  background-color: #073f3f;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
}
